/* Basic Markup for Popup */

<div class="countrySelector">
   <span id="countrySelector--text"></span>
   <div class="countrySelector--buttons">
    <button id="countrySelector--button_one"></button>
    <button id="countrySelector--button_two"></button>
   </div>
</div>
